/* Custom Styles
-------------------------------------------------- */

/* Color Theme Swatches in Hex */
$VitaBoost-1-hex: #FFBD57;
$VitaBoost-2-hex: #54C5D6;
$VitaBoost-3-hex: #172538;
$VitaBoost-4-hex: #E41819;
$VitaBoost-5-hex: #F37020;

/* Color Theme Swatches in RGBA */
$VitaBoost-1-rgba: rgba(255,189,87, 1);
$VitaBoost-2-rgba: rgba(84,197,214, 1);
$VitaBoost-3-rgba: rgba(23,37,56, 1);
$VitaBoost-4-rgba: rgba(228,24,25, 1);
$VitaBoost-5-rgba: rgba(243,112,32, 1);

/* Color Theme Swatches in HSLA */
$VitaBoost-1-hsla: hsla(36, 100, 67, 1);
$VitaBoost-2-hsla: hsla(187, 61, 58, 1);
$VitaBoost-3-hsla: hsla(214, 41, 15, 1);
$VitaBoost-4-hsla: hsla(359, 80, 49, 1);
$VitaBoost-5-hsla: hsla(22, 89, 53, 1);

/* Color Theme Swatches in Hex */
$Vistaboost-2-1-hex: #FFBE3F;
$Vistaboost-2-2-hex: #26B6B4;
$Vistaboost-2-3-hex: #15253C;
$Vistaboost-2-4-hex: #C3342D;
$Vistaboost-2-5-hex: #FD5E0F;

/* Color Theme Swatches in RGBA */
$Vistaboost-2-1-rgba: rgba(255,190,63, 1);
$Vistaboost-2-2-rgba: rgba(38,182,180, 1);
$Vistaboost-2-3-rgba: rgba(21,37,60, 1);
$Vistaboost-2-4-rgba: rgba(195,52,45, 1);
$Vistaboost-2-5-rgba: rgba(253,94,15, 1);

/* Color Theme Swatches in HSLA */
$Vistaboost-2-1-hsla: hsla(39, 100, 62, 1);
$Vistaboost-2-2-hsla: hsla(179, 65, 43, 1);
$Vistaboost-2-3-hsla: hsla(215, 48, 15, 1);
$Vistaboost-2-4-hsla: hsla(2, 62, 47, 1);
$Vistaboost-2-5-hsla: hsla(19, 98, 52, 1);