.text-frame {
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	border: 2px solid $Vistaboost-2-3-rgba !important;
	background-color: #54c5d6 !important;
	border-radius: 3px !important;

	p {
		padding: 10px;
		color: $white;
	}
}